<div class="row">
  <div class="col-12">
    <img [src]="selectedRecipe.imagePath" alt="{{selectedRecipe.name}}" class="img-fluid" style="max-height: 200px;">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{selectedRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group dropdown" [ngClass]="{'show': isOpen}">
      <button tupe="button" class="btn btn-primary dropdown-toggle" #btnMenu (click)='toggleOpen()'>Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu" #menu>
        <li class="dropdown-item"><a (click)="onAddIngredientsToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li class="dropdown-item"><a style="cursor: pointer" [routerLink]="['edit']" style="color: inherit; text-decoration-line: inherit;">Edit Recipe</a></li>
        <li class="dropdown-item"><a style="cursor: pointer">Remove Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{selectedRecipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of selectedRecipe.ingredients">{{ ingredient.name}} - {{ ingredient.amount}}</li>
    </ul>
  </div>
</div>